*{
	text-decoration-color: #a5afb8;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	font-weight: normal;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: normal;
}

li {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 10pt;
	font-weight: normal; 
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

.repResentative {
	text-align: center;
	background-color: #c0fff4;
	padding: 1px 1px 1px 1px;
	width: 25%;
	display: inline-block;
}